<div class="title"><h1> LOGIN </h1></div>
<div class="new_session_form">
  <%= form_with scope: :session, url: sessions_path, local: true do |form| %>
    <p>
      <%= form.label :username %> <br>
      <%= form.text_field :username %><br><br>
    </p>
    <p>
      <%= form.label :password %> <br>
      <%= form.text_field :password %><br><br>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <%end%>
</div>