<table class="game-table">
  <tr>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
  </tr>
<%player_ships%>
  <tr>
    <td>1</td>
    <% Coordinate.all[0..9].each do |coordinate| %>
      <% if player_ships.include?(coordinate)%>
        <td class="player_ships" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>2</td>
    <% Coordinate.all[10..19].each do |coordinate| %>
    <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>3</td>
    <% Coordinate.all[20..29].each do |coordinate| %>
      <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>4</td>
    <% Coordinate.all[30..39].each do |coordinate| %>
      <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

   <tr>
    <td>5</td>
    <% Coordinate.all[40..49].each do |coordinate| %>
       <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>6</td>
    <% Coordinate.all[50..59].each do |coordinate| %>
        <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>7</td>
    <% Coordinate.all[60..69].each do |coordinate| %>
        <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>8</td>
    <% Coordinate.all[70..79].each do |coordinate| %>
       <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>9</td>
    <% Coordinate.all[80..89].each do |coordinate| %>
        <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

  <tr>
    <td>10</td>
    <% Coordinate.all[90..100].each do |coordinate| %>
        <% if player_ships.include?(coordinate)%>
        <td class="players_ship" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%>
      <%else%>
        <td class="coord" data-coordinate="<%=coordinate.x_position%><%=coordinate.y_position%>" data-id="<%=coordinate.id%>"><%coordinate%></td>
        <%end%>
    <%end%>
  </tr>

</table>

