
<div class="title"><h1> SHIPLY HOME INDEX </h1></div>


<div class="my_board">
  <h2>Attack Map</h2>
  <%= render "shared/new_board" %>
</div>


<%= button_to "Create Game", action: "create" %>


<%if session[:user_id]%>
	<% @games.each do |game| %>
<%if game.player2_id == nil && game.player1_id != session[:user_id] %>
<div>
  <%= game.id %>
  <%= link_to 'Join', join_game_path(game) %>
</div>
  <%elsif game.player1_id == session[:user_id] || game.player2_id == session[:user_id] %>
<div>
  <%= game.id %>
  <%= link_to 'My Games', game_path(game) %>
</div>

<% end %>
<% end %>
<% end %>
