
<div class="title"><h1> SHIPLY HOME INDEX </h1></div>

<div class="both_boards">
	<div class="my_board">
	  <h2>Attack Map</h2>
    <%player_ships = []%>
	  <%= render "shared/new_board", {player_ships: player_ships}%>
	</div>

	<div class="opponent_board">
	  <h2>Your Ships</h2>
    <%player_ships = []%>
	  <%= render "shared/new_board", {player_ships: player_ships}%>
	</div>
</div>

<div class="new_game">
	<%= button_to "Create Game", action: "create" %>
</div>

<div class="game_list">
	<!-- <ul> -->
	<%if session[:user_id]%>
		<% @games.each do |game| %>
	<%if game.player2_id == nil && game.player1_id != session[:user_id] %>	
	 <!-- <li class="join_game">  -->
		  <%= game.id %> <%= link_to 'Join', join_game_path(game) %>
	  <!-- </li> -->

  <%elsif game.player1_id == session[:user_id] || game.player2_id == session[:user_id] %>
	  <!-- <li class="my_game"> -->
		  <%= game.id %> <%= link_to 'My Games', game_path(game) %>
	  <!-- </li> -->
	  
	 <!-- </ul>	  -->
</div>

<% end %>
<% end %>
<% end %>
