<h1> Game show page </h1>
<%binding.pry %>
You are ID(<%= session[:user_id]%>)
<br>

Player1 is <%=game.player1.username%> (ID: <%= game.player1_id %>)
<br>
Player2 is <%=game.player2.username%> (ID: <%= game.player2_id %>)
<br>
It is <%= game.active_player.username %>'s (ID:<%= game.active_player.id%>) turn.


<% if game.turn_id == session[:user_id] %>

<div class="pass">
<%= button_to 'Pass', pass_game_path(game), :method => :patch %>
</div>
<% end %>

<div class="check">
<%= button_to 'Check', check_game_path(game), :method => :get, remote: true %>
</div>
