<div class="title"><h1> REGISTER </h1></div>

<div class="new_user_form">
  <%= form_with scope: :user, url: players_path, local: true do |form| %>
    <p>
      <%= form.label :username %> <br>
      <%= form.text_field :username %><br><br>
    </p>
    <p>
      <%= form.label :password %> <br>
      <%= form.text_field :password %><br><br>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <%end%>
</div>