<!DOCTYPE html>
<html>
 <html lang="en">
  <head>
    <title>Battleship</title>
      <meta charset="utf-8">


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <header>
  <h1>CSS Shiply</h1>
  <p>

      <% if session[:user_id] %>
        <%= link_to 'Logout', logout_path, method: 'delete'%>
      <% else %>
        <%= link_to 'Register', new_player_path %>
        <%= link_to 'Login', new_session_path %>
     <% end %>
     <%= link_to 'Home', root_url %>




  </p>
</header>

  <body>
    <%= yield %>
  </body>
</html>
